# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [39]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np
from sklearn.model_selection import cross_val_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [40]:
from sklearn.datasets import load_diabetes

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [41]:
diabetes = pd.DataFrame(load_diabetes().data, columns=load_diabetes().feature_names)
diabetes['target']=load_diabetes().target

In [42]:
diabetes.keys()

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [43]:
print(load_diabetes().get("DESCR"))

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

- **age**     age in years
- **sex**
- **bmi**     body mass index
- **bp**      average blood pressure
- **s1**     tc, total serum cholesterol
- **s2**     ldl, low-density lipoproteins
- **s3**     hdl, high-density lipoproteins
- **s4**     tch, total cholesterol / HDL
- **s5**     ltg, possibly log of serum triglycerides level
- **s6**    glu, blood sugar level

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [72]:
diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [73]:
diabetes.shape

(442, 11)

In [74]:
X = diabetes.drop('target', axis=1)

In [75]:
y = diabetes.target

In [76]:
X.shape

(442, 10)

In [77]:
y.shape

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

Initialize the model in the variable `diabetes_model`

In [88]:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [98]:
diabetes_model.fit(X,y)

LinearRegression()

In [99]:
pd.Series(diabetes_model.coef_, index=X.columns)

age    -10.012198
sex   -239.819089
bmi    519.839787
bp     324.390428
s1    -792.184162
s2     476.745838
s3     101.044570
s4     177.064176
s5     751.279321
s6      67.625386
dtype: float64

In [100]:
diabetes_model.intercept_

152.1334841628965

In [101]:
import statsmodels.formula.api as smf

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [109]:
results = smf.ols("target ~ age + sex+ bmi+ bp+ s1+ s2+ s3+ s4+ s5+ s6", data=diabetes).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           3.83e-62
Time:                        16:43:38   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [110]:
results2 = smf.ols("target ~ sex+ bmi+ bp+ s1+ s5", data=diabetes).fit()
results2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.494
Method:                 Least Squares   F-statistic:                     87.15
Date:                Tue, 21 Sep 2021   Prob (F-statistic):           2.19e-63
Time:                        16:46:24   Log-Likelihood:                -2394.0
No. Observations:                 442   AIC:                             4800.
Df Residuals:                     436   BIC:                             4825.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.608     58.331      0.000     147.007     157.260
sex         -148.3748     56.738     -2.615      0.009    -259.888     -36.862
bmi          600.6339     63.615      9.442      0.000     475.603     725.665
bp           305.0330     63.287      4.820      0.000     180.647     429.419
s1          -216.8433     64.194     -3.378      0.001    -343.012     -90.675
s5           662.1638     71.214      9.298      0.000     522.199     802.129
==============================================================================
Omnibus:                        1.839   Durbin-Watson:                   2.055
Prob(Omnibus):                  0.399   Jarque-Bera (JB):                1.857
Skew:                           0.110   Prob(JB):                        0.395
Kurtosis:                       2.771   Cond. No.                         32.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Eventhough there are variables found in the first model that are not that influential in the $R-Squared$ , the difference between the two models is very little. Because of this the second model would be my choice as it has less variables but they are more correlated to the target.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [111]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [112]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [117]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [118]:
auto.model_year.max()

82

In [119]:
auto.model_year.min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [133]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [132]:
auto.dropna(inplace = True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [146]:
auto.cylinders.value_counts().sort_values()

5      3
3      4
6     83
8    103
4    199
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [149]:
auto.drop("car_name", axis = 1, inplace= True)

In [151]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70

In [152]:
from sklearn.model_selection import train_test_split

In [160]:
X = auto.drop("mpg", axis = 1)

In [161]:
y = auto.mpg

In [162]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=111)

In [163]:
X_train.shape

(313, 6)

In [164]:
X_test.shape

(79, 6)

In [165]:
y_train.shape

(313,)

In [166]:
y_test.shape

(79,)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [212]:
auto_model = LinearRegression()

Next, fit the model in the cell below.

In [213]:
auto_model.fit(X_train, y_train)

LinearRegression()

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [173]:
from sklearn import metrics
import numpy as np

In [185]:
y_pred = lr.predict(X_train).round(1)
y_pred

array([29. , 13.9, 14.4, 26.7, 26.9, 15.1, 15.4, 26.2, 28.2, 17.7, 18. ,
       34. , 23.9, 15.3, 16.2, 20.3, 21.6, 25.2, 27.4, 31.5, 30.2, 31.3,
       29.7, 11.1, 28.1, 21.1, 15.4, 25.4, 28.9, 33.2, 18. , 24.1, 22.5,
       26.7, 22.4, 22.8, 34.9, 14.9, 30. , 32.5, 25.2, 31. , 18.7, 25.2,
       24.4, 30.1, 33.3, 26.1, 33.9, 21.9,  9.3, 22.2, 17.9, 18. , 13.7,
       21.1, 22.5, 25. , 24.7, 27.9, 28.6, 28.6, 11.8, 17.7, 15.1, 26.6,
       28.7, 21.9, 30.9, 29.7, 27. , 11.4, 32.1, 29.4, 21.4, 34.2, 30.9,
       27.6, 13. , 29.4, 35.1, 23.4, 31.7,  4.9, 23.8, 32.4, 22.2, 32.6,
       17.6, 31.4, 26.8, 29.8, 22.8, 25.6, 21.2, 19.6, 29.1, 23.9, 31.9,
       28.7, 15.6, 23.4, 33.3, 30.9, 13. , 21.7, 14.1, 34.8, 32.7, 26.3,
       30.9, 26.3, 25.8, 21. , 19.7,  7.3, 29.2, 32.7, 34.5, 32.4, 28.4,
       20.3, 29.7, 27.6, 12.3, 23.7, 23.5, 22.3, 19.3, 22.7, 15.5, 31.1,
       12.8, 24.3, 31. , 29.7,  9.8, 28.8, 21.8, 30. , 32.2, 25.6, 17. ,
       15.5, 26.2, 24.4, 23. , 24.5, 21.5, 32. , 11.1, 34.8, 26.3, 27.7,
       21.8, 26.4, 20.3, 20.9, 29.1,  6. , 27.2, 22.6, 20.5, 27.1,  7.7,
       16.7, 22.1, 26.7, 12. , 25.8, 29.8, 25.5, 12. , 15.1, 23. , 26.2,
       25.5, 19.4, 16.1, 17.7, 19.2, 33.8, 24.4, 25.4, 13.8, 31.1, 13.5,
       24.4, 27.6, 26.2, 30.2, 28.8, 28.5, 21. , 32.6, 24.4, 24.5, 31.5,
       27.4, 25.9,  8.8, 13.4, 32.7, 31.2, 35.6, 25.5,  9.1, 21.6, 34.9,
       25.1,  8.5, 24.4, 22.7, 22.3, 30.3, 12.6, 25.9, 33.8, 35.8, 30.7,
       26.6, 21.5, 18.7, 28.5, 17.4, 28. , 31.4, 32. , 25.6, 26.4, 10.4,
       21.8, 20.2, 32.4, 25.7,  7.5, 30.3, 11.8, 30.7, 29.1, 20.5, 10.7,
       28.4, 10.7, 26. , 25.7, 33.5, 21.1, 10.5, 18.2, 30.3, 21.7, 10.4,
       32.8, 34.8, 15.9, 16.9, 11.1, 13.7, 12.6, 18. , 34.1, 17. , 15.6,
       14.2, 17.6, 30. , 23. , 16.1, 26.8,  8.1, 22.8, 27.1, 13. , 23.8,
       21.9, 30.9, 24.6, 19.6, 27.9, 31.1, 11.5, 31.9, 30.7, 26.1, 17.3,
       33.8, 24.4, 30.7, 29.6, 28.3, 15.2, 15.2, 11.1, 22.5, 27.7, 22.4,
       26.1, 20.8, 32.4, 29. , 29.4, 28. ,  9.1, 20.1, 23.7, 32.8, 24.3,
       22.1, 14.3, 17.7, 32.3, 34.9])

In [187]:
y_train.round(1)

54     35.0
11     14.0
10     15.0
148    26.0
315    24.3
       ...
277    16.2
87     13.0
214    13.0
369    34.0
344    39.0
Name: mpg, Length: 313, dtype: float64

In [188]:
metrics.mean_squared_error(y_train, y_pred).round(3)

12.207

In [189]:
metrics.mean_absolute_error(y_train, y_pred).round(3)

2.688

In [190]:
metrics.r2_score(y_train, y_pred).round(3)

0.807

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [191]:
y_test_pred = lr.predict(X_test).round(1)
y_test_pred

array([ 7.4, 11.6, 28.8, 30.6, 23.2, 28.8, 27.8, 23.2, 25.6, 21.2, 26.1,
       12.6, 19.9, 20.3, 20.4, 25.1, 30.9,  8.9, 13.1, 33.8,  9.1, 29.3,
       25.8, 18.2, 26.9, 27.5, 25.1, 21.2, 32.3, 26.2, 25.9, 26.6, 15.1,
       16.6, 27.6, 10.1,  9.3, 14.1, 27.9, 31. , 23. , 32.5, 30.4, 20. ,
       20.8, 29.9, 34.1, 11.7,  7.6, 24.4, 31.7, 23.3, 35. , 17.9, 32.9,
       28.7, 16.9, 22.2, 33.3,  7.5, 21.2,  8.8, 19.9, 24.4, 24.6, 23.9,
       31.4, 28.8, 30.7, 33.1, 29.7, 16.4, 31.6, 24.4, 20.9, 19.2, 17.2,
       23.9, 25.2])

In [192]:
y_test.round(1)

95     12.0
116    16.0
273    23.9
195    29.0
194    22.5
       ...
251    20.2
201    18.5
160    17.0
210    19.0
50     28.0
Name: mpg, Length: 79, dtype: float64

In [193]:
metrics.r2_score(y_test, y_test_pred).round(3)

0.805

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [194]:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1, random_state=111)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [195]:
auto_model09 = LinearRegression()

In [196]:
auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [202]:
y_test_pred09 = auto_model09.predict(X_test09).round(1)

In [205]:
#y_test09.round(1)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [204]:
metrics.r2_score(y_test09, y_test_pred09).round(3)

0.77

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [207]:
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [222]:
estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=3, step=1)

Fit the model and print the ranking

In [223]:
selector = selector.fit(X, y)
selector.ranking_

array([1, 3, 2, 4, 1, 1])

In [236]:
X.head()

   cylinders  displacement  horse_power  weight  acceleration  model_year
0          8         307.0        130.0    3504          12.0          70
1          8         350.0        165.0    3693          11.5          70
2          8         318.0        150.0    3436          11.0          70
3          8         304.0        150.0    3433          12.0          70
4          8         302.0        140.0    3449          10.5          70

In [238]:
auto_reduced = auto.drop(["displacement","horse_power","weight"], axis = 1)

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [244]:
X_train_reduced, X_test_reduced , y_train_reduced, y_test_reduced = train_test_split(auto_reduced, y, test_size=0.2, random_state=111)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [245]:
auto_model_reduced = LinearRegression()

In [246]:
auto_model_reduced.fit(X_train_reduced, y_train_reduced)

LinearRegression()

In [247]:
y_test_pred_reduced = auto_model_reduced.predict(X_test_reduced).round(1)

In [248]:
metrics.r2_score(y_test_reduced,y_test_pred_reduced).round(3)

1.0